textarea#redaction_string {
	text-indent: 0;
	padding: 2px;
	min-height: 150px;
	margin-top: 15px;
	width: 100%;
}

div.modal-body {
	margin: 10px;
}

div.string_presenter {
	min-height: 200px;
	margin: 10px 0;
	text-align: left;
	text-decoration: underline;
	padding-top: 15px;
	border-top: 1px dotted #b2b2b2;
}

.modal{
  width: 700px;
}

span.tiny_note {
	font-style: italic;
}

span.num_actions {
	color: #e91010
}

span.breakline {
    display: block;
    width: 100%;
    border-bottom: 1px dotted #666;
    margin: 10px 0;
    clear: both;
}

button.submit_text {
	margin: 2% 0 2% 65%;
}

button.attach_redact {
	float: right;
}

label#attach_redact_label {
	float: left;
	font-size: 120%;
	margin-top: 5px;
}

#attach_redact:after {
    clear:both;
}


#attachLeave {
    float: left;
}

#attachConfirm {
    float: right;
}

.filename {
    margin-left: 10px;
}

.redaction_img_list li img {
    max-width: 50%;
    margin-right: 25px;
    max-height: 100px;
}

.redaction_img_list li {
    height: 102px;
    width: 90%;
    border-bottom: 1px dotted rgba(123,123,123,1);
    margin: 20px 0 5px 15px;
    position: relative;
    padding-bottom: 15px;
}

.redaction_img_list span.modal_filename {
    text-align: right;
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 14px;
    max-width: 50%;
}
.warn_unable {
	display: inline-block;
	padding-top: 20px;
	font-size: 90%;
	color: red;
}
